ut02-ejercicios/ut02-ejercicios/01-Introducción-a-XML/ejercicio04/maquinas-virtuales.dtd


<!ELEMENT Máquinas_Virtuales (ID+)>
<!ELEMENT ID (Nombre, CPU, RAM, Nom.Disco, Disco, Adaptador_de_red)>
<!ELEMENT Nombre (#PCDATA)>
<!ELEMENT CPU (#PCDATA)>
<!ELEMENT RAM (#PCDATA)>
<!ELEMENT Nom.Disco (#PCDATA)>
<!ELEMENT Disco (#PCDATA)>
<!ATTLIST Disco tamaño ID #REQUIRED>
<!ELEMENT Adaptador_de_red (#PCDATA)>
